.Menu {
    list-style: none;
    display: flex;
    flex-flow: column;

    padding-left: 150px;

    height: 100%;
    align-items: center;
    text-decoration: none;
    width: 60%;
    font-size: 20px;
    box-sizing: border-box;
    justify-content: space-between;

  }




  
  
  @media (min-width: 500px) {
    .Menu {
      flex-flow: row;
    }
  }