.Container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Menu {
  width: 1170px;
  text-decoration: none;
  list-style: none;
  display: flex;
  height: 58px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Rubik';
  justify-content: start;

  align-items: center;

}

.Category {
  background-color: #ff007a;
  color: white;
  width: 270px;
  text-align: center;
  padding: 20px 0;
  vertical-align: middle;
}

  
@media (min-width: 500px) {
  .Menu {
    flex-flow: row;
  }
}