.Navbar {
  height: 216px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #703b09;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
  color: red;
  font-size: 20px;
}

.Rectangle {
    width: 100%;
    height: 30px;
    background-color: #ff007a;
  }

