.Login {
    height: 578px;
    background-color: white;
    width: 470px;
    box-sizing: border-box;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 10 / 64%), 0 8px 16px rgb(0 10 0 / 34%);box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    align-items: center;
    text-align: center;
    margin: 20px auto;
}

.Login input {
    display: block;
    font-size: 18px;
    padding: 5px;
    margin: 20px auto;
    border: solid 1px #e4e8eb;
}

.Login button {
    height: 30px;
    width: 120px;
    background-color: #ff007a;
    color: #fff;
    border: #ccc;
}
