.Container {
    display: flex;
    width: 1170px;
    justify-content: flex-end;
    background-color: white;
    margin: auto;
    align-self: center;

}

.StellaMcCartneyHero {
    width: 900px;
    height: 474px;
    
}